@font-face {
 font-family: "Good TImes";
 src: local("/fonts/good_times/good times rg.otf");
}
nav {
    font-family: "Good TImes";
}
h2 {
    font-family: "Good TImes";
}

#News_title {
    font-size: 80px;
}

#Container_title_news {
    height: 150px;
}

.header{
    position:sticky;
    background-color: white;
    opacity: 1;
    top:0;
    z-index:10;
}

.header__nav {
    font-size:25px;
    display: flex;
    justify-content: end;
    }

.header__link{
    margin: 10px;
}

.section__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

#section__photop{
    display: flex;
    position: relative;
    top: 30px;
    justify-content:center;
}

#section__photoAccueil{
    border: solid 2px black;
    border-radius: 400px;
}

section{
    z-index: 1;
}

.relative{
    position: relative;
    top:20px;
}

.encadre{
    border-style: solid none solid none;
}